body {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  background: #0f1336;
  background: -webkit-linear-gradient(to right, #1F1C18, #0f1336);
  background: linear-gradient(to right, #1F1C18, #0f1336);
  background: linear-gradient(to bottom, #131313, #0f1336);
  font-family: "Gloock", serif;
  font-family: "Raleway", sans-serif;
  /*HEADER INDEX*/
  /*GALERIA*/
  /*NOTICIAS*/
  /*FOOTER REDES*/
  /*MEDIA*/
}
body nav {
  width: 100%;
  height: 80px;
  background: #0f1336;
}
body nav #check-menu {
  display: none;
}
body nav .menu {
  display: none;
}
body nav .logo {
  font-family: "Mystery Quest", cursive;
  font-size: 35px;
  font-weight: bold;
  color: #00ffee;
  padding: 0 100px;
  line-height: 80px;
}
body nav ul {
  float: right;
  margin-right: 40px;
  margin-top: -80px;
}
body nav ul li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
body nav ul li a {
  color: whitesmoke;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
  text-decoration: none;
}
body nav ul .btn-contacto {
  background-color: rgba(255, 162, 0, 0.3568627451);
}
body .index {
  width: 100%;
  height: 48rem;
  position: relative;
  background: url(../assets/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
}
body #redes {
  font-family: "Gloock", serif;
  /*background-color: #1770a3;*/
  color: #000000;
}
body #redes .contenedor-index {
  width: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-left: 100px;
}
body #redes .contenedor-index .foto img {
  width: auto;
  height: 510px;
  padding: 60px 0 100px 60px;
  margin-left: 150px;
}
body #redes .contenedor-index .texto h3 {
  margin-left: 50px;
}
body #redes h3 {
  font-size: 1.7rem;
  width: 1px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
  background: linear-gradient(to bottom, rgb(255, 255, 0), rgba(0, 0, 0, 0));
}
body #redes h3 #encontranos {
  text-decoration: none;
  color: #00ffee;
  margin-left: 10px;
}
body #redes p {
  padding-top: 100px;
  line-height: 50px;
  font-size: 40px;
  color: rgb(255, 255, 255);
}
body #redes p .span-ig {
  color: rgba(225, 48, 48, 0.3411764706);
}
body #redes p .span-yb {
  color: #fb0101;
}
body #redes .texto {
  width: 50%;
}
body .galeria {
  background-color: rgb(0, 0, 0);
  height: 15rem;
}
body .galeria .titulo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  height: 15rem;
}
body .galeria .titulo h3 {
  width: 700px;
  font-size: 3.5rem;
  word-spacing: 0.25em;
  color: rgb(255, 255, 255);
  margin-left: 450px;
}
body .contenedor-galeria {
  padding: 130px 50px 50px 50px;
}
body .contenedor-galeria .gallery {
  margin: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  gap: 20px;
  grid-auto-flow: dense;
  margin-top: -70px;
}
body .contenedor-galeria .imagen {
  width: 100%;
  box-shadow: 0 0 10px rgba(255, 162, 0, 0.3568627451);
  filter: drop-shadow(0 2px 5px rgba(255, 162, 0, 0.3568627451));
}
body .contenedor-galeria .imagen img {
  width: 100%;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  border: solid 1px rgba(255, 162, 0, 0.3568627451);
}
body .contenedor-galeria .imagen img:hover {
  transform: scale(1.1);
}
body .header-noti {
  background: url(../assets/header-noti.jpg);
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}
body .header-noti h2 {
  width: 700px;
  font-size: 3.5rem;
  word-spacing: 0.25em;
  color: rgb(0, 0, 0);
  margin-left: 550px;
  margin-top: 100px;
}
body .header-info {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  height: 20rem;
}
body .header-info h4 {
  width: 700px;
  font-size: 3.5rem;
  word-spacing: 0.25em;
  color: rgb(255, 255, 255);
  margin-left: 630px;
  margin-top: 100px;
}
body .contacto {
  width: 100%;
  height: 40rem;
  background-image: url(../assets/photo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 23%, 83% 54%, 13% 63%, 0 100%, 0 0);
  position: relative;
}
body .contacto h7 {
  display: flex;
  font-size: 3.5rem;
  margin-left: 42rem;
  margin-top: 100px;
  color: #ffffff;
  letter-spacing: 0.5em;
  word-spacing: 0.5em;
}
body .footer-container {
  font-family: "Gotu", sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background: rgb(0, 0, 0);
  background: linear-gradient(to top, #000000, rgba(142, 14, 0, 0));
  color: rgba(245, 245, 220, 0.515);
}
body .footer-container h5 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1rem;
  padding-top: 50px;
}
body .formulario {
  display: grid;
  grid-template-columns: 400px 400px 400px 400px;
  grid-template-rows: repeat(4, 2fr);
  grid-template-areas: "0 0 1 1" "2 2 2 2" "3 3 3 3" "4 4 4 4";
  margin: -160px 0 0 37rem;
  height: 30rem;
}
body .formulario form {
  width: 600px;
}
body .formulario form .btn {
  margin: 40px 0 0 250px;
  background-color: rgba(255, 255, 0, 0.8156862745);
  color: black;
  border: 1px solid black;
}
body .formulario form .formu {
  width: 600px;
}
body .formulario form .formu .form-floating {
  padding-top: 40px;
}
body .formulario form .formu .form-floating .letra-email {
  margin-top: 40px;
}
body .formulario form .formu .form-floating .letra-comentarios {
  margin-top: 40px;
}
body .formulario form .nomb {
  padding-bottom: 18px;
}
body .contenedor {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
body .contenedor .card {
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
body .redes-container ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 70px 0px;
}
body .redes-container ul li a {
  display: block;
  padding: 0 10px;
  background-color: #ffe6e6;
  color: rgb(41, 33, 33);
  line-height: 50px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0px rgb(212, 184, 184);
  transition: 0.5s;
  border-radius: 5px;
}
body .redes-container ul li a :hover i {
  color: yellow;
}
body .redes-container ul li .youtube {
  color: #FF0000;
}
body .redes-container ul li .youtube :hover {
  background: rgba(255, 0, 0, 0.1333333333);
}
body .redes-container ul li .instagram {
  color: #E1306C;
}
body .redes-container ul li .instagram :hover {
  background: rgba(225, 48, 107, 0.3411764706);
}
body .redes-container ul li .gmail {
  color: #00B2FF;
}
body .redes-container ul li .gmail :hover {
  background: rgba(0, 179, 255, 0.2941176471);
}
body .redes-container ul li .spotify {
  color: #1DB954;
}
body .redes-container ul li .spotify :hover {
  background: rgba(29, 185, 84, 0.2823529412);
}
body .redes-container ul li .whatsapp {
  color: #25D366;
}
body .redes-container ul li .whatsapp :hover {
  background: rgba(37, 211, 101, 0.3215686275);
}
body .redes-container ul :hover a {
  filter: blur(1px);
}
body .redes-container ul :hover a :hover {
  transform: translateY(-1px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(12, 11, 11, 0.4);
  filter: none;
}
body .redes-cont {
  display: flex;
  margin-left: -960px;
  margin-top: 300px;
}
@media screen and (min-width: 350px) and (max-width: 900px) {
  body {
    /*GALERIA @MEDIA*/
    /*NOTICIAS*/
    /*CONTACTO @MEDIA*/
  }
  body nav ul {
    display: none;
  }
  body nav .menu {
    display: block;
    font-size: 3rem;
    color: #ffffff;
    cursor: pointer;
    float: right;
    padding: 12px 10px 0 0;
  }
  body nav #check-menu:checked ~ ul {
    display: block;
    background: black;
    padding-top: 60px;
    gap: 20px;
    width: 200px;
  }
  body nav #check-menu:checked ~ ul li {
    display: block;
    height: 56px;
  }
  body .main-media-index #redes h3 {
    font-size: 1rem;
    width: 2px;
  }
  body .main-media-index #redes h3 #encontranos {
    font-size: x-large;
    margin-left: 12px;
  }
  body .main-media-index #redes .contenedor-index {
    margin-left: -20px;
  }
  body .main-media-index #redes .contenedor-index .foto {
    display: none;
  }
  body .galeria .titulo h3 {
    margin-left: 250px;
  }
  body .contenedor-galeria .gallery {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    gap: 20px;
    grid-auto-flow: dense;
    margin-top: -70px;
    grid-template-columns: repeat(1, 1fr);
  }
  body .header-noti h2 {
    width: 100px;
    margin-left: 150px;
  }
  body .contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  body .contacto {
    width: 100%;
    height: auto;
    font-size: small;
  }
  body .contacto h7 {
    margin-left: 70px;
  }
  body .formulario {
    width: 100%;
    display: flex;
    margin-top: 80px;
    margin-left: 50px;
  }
  body .formulario .row {
    width: 350px;
    margin-left: 1px;
  }
  body .formulario .form-floating {
    justify-items: center;
    justify-content: center;
    width: 330px;
    margin-left: 10px;
  }
  body .formulario .btn {
    margin-left: 150px;
  }
  body .formulario .redes-cont {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  body {
    /*NAV @MEDIA*/
    /*GALERIA QUERIES*/
    /*CONTACTO @MEDIA*/
  }
  body .nav ul {
    display: none;
  }
  body .nav label .menu {
    display: block;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
    margin-left: 5px;
  }
  body .nav input #check-menu:checked ~ ul {
    display: block;
  }
  body #redes h3 {
    font-size: 1rem;
    width: 2px;
  }
  body #redes h3 #encontranos {
    font-size: x-large;
    margin-left: 12px;
  }
  body .contenedor-galeria .gallery {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    gap: 20px;
    grid-auto-flow: dense;
    margin-top: -70px;
    grid-template-columns: repeat(2, 1fr);
  }
  body .header-noti h2 {
    width: 100px;
    margin-left: 200px;
  }
  body .contacto {
    width: 100%;
    height: auto;
    font-size: small;
  }
  body .contacto h7 {
    margin-left: 70px;
  }
  body .formulario {
    width: 500px;
    display: flex;
    margin-top: 80px;
    margin-left: 150px;
  }
  body .formulario form .form-floating {
    justify-items: center;
    justify-content: center;
    width: 400px;
    margin-left: 60px;
  }
  body .formulario form .row {
    width: 420px;
    margin-left: 50px;
  }
  body .formulario form .btn {
    margin-left: 220px;
  }
  body .redes-cont {
    display: none;
  }
}
@media (max-width: 967px) {
  body .foto {
    display: none;
  }
  body .main-media-index #redes .contenedor-index {
    width: 100%;
    margin-left: -12px;
  }
  body .main-media-index #redes .contenedor-index .texto {
    margin-left: 150px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1330px) {
  body .contacto h7 {
    margin-left: 350px;
  }
  body .formu {
    margin-left: -300px;
  }
  body .redes-cont {
    width: 100%;
  }
  body .header-noti h2 {
    margin-left: 250px;
  }
}
@media (min-width: 900px) {
  body .main-media-index #redes .contenedor-index {
    width: 100%;
    margin-left: -12px;
  }
  body .main-media-index #redes .contenedor-index .texto {
    margin-left: 50px;
  }
}
@media (max-width: 767px) {
  body .formulario {
    width: 400px;
  }
  body .formulario a .btn {
    margin-left: 120px;
  }
}

/*# sourceMappingURL=styles.css.map */
