/*MEDIA*/

@media screen and (min-width:310px) and (max-width:900px) {
   nav{
        ul {
            display: none ;
            pointer-events: 0;
        }

            .menu{
                display: block;
                font-size: 3rem;
                color: #ffffff;
                cursor: pointer;
                float: right;
                padding: 12px 10px 0 5px; 
                z-index: 100;
            }

        #check-menu:checked ~ul {
            pointer-events: auto;
            display: block;
            position: fixed;
            background: #282828;
            color: white;
            margin-top: 15px;
            width: 100%;
            padding-bottom: 10px;
            z-index: 100;
            
            li{
                display: block;
                @include flex-center;
                height: 60px;
                margin-left: -30px;
            }

            .btn-contacto{
                background-color: #ffa20000 ;
            }
        }

        .nav-contacto{
            transform: translatey(-15px);
        }
    
        .nav-index{
            transform: translatey(-4px);
            li{
                transform: translatex(-20px);
            }
        }
    }
    
   .main-media-index{

    #redes{

        h3{
            font-size: 1rem;
            width: 2px;

            #encontranos{
                font-size: x-large;
                margin-left: 12px;
               }
        }

        .contenedor-index{
            margin-left: -20px;
            
             .texto{

                .redes-container{
                    margin: 50px 0;
                    ul{
                        li{
                            margin: 10px;
                        }
                    }
                }
             }
        }
    } 
   }

      /*GALERIA @MEDIA*/

      .contenedor-galeria {
        .gallery{
            display: grid;
            column-gap: .5rem;
            row-gap: .5rem;
            gap: 20px;
            grid-auto-flow: dense;
            margin-top: -70px;
            grid-template-columns: repeat(1,1fr);
        }
      } 

      /*NOTICIAS*/

      .fondo-noti{
        
        .contenedor{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
            padding-top: 100px;
          }

        .clip{
            clip-path: none;
            background: transparent;
        }
    }
      
   .contenedor-info{
    
    .hijo1-info{
        margin-top: 15px;
        h1{
            font-size: $small;
        }
    }
   }

    /*CONTACTO @MEDIA*/
  .contacto{
            width: 100%;
            height: auto;
            font-size: small;
            clip-path: none;

            h7{
             margin-left: 20px;
             font-size: $inter;
            }
        }
       } 

@media (min-width:768px) and (max-width:1000px) {

    /*NAV @MEDIA*/

    .nav{

        ul {
            display: none ;
        }

        label{
            .menu{
                display: block;
                font-size: 2rem;
                color: #ffffff;
                cursor: pointer;
                margin-left: 5px;
            }
        }

        input{
            #check-menu:checked ~ul {
                display: block;
            }
        }
    }

    #redes{
        h3{
            font-size: 1rem;
            width: 2px;

            #encontranos{
                font-size: x-large;
                margin-left: 12px;
               }
        }
    } 

    /*GALERIA QUERIES*/

    .contenedor-galeria {
        .gallery{
            display: grid;
            column-gap: .5rem;
            row-gap: .5rem;
            gap: 20px;
            grid-auto-flow: dense;
            margin-top: -70px;
            grid-template-columns: repeat(2,1fr);
        }
      } 

    /*CONTACTO @MEDIA*/
    
        .contacto{
            @include sizes(100%, 41vh);
            font-size: small;
            clip-path: none ;
        }

        .formulario-responsive{
            margin-top: 100px;
        }

        .redes-cont{
             display: none;
            }
        } 

@media (max-width:967px){

    .foto {
        display: none;
    }

    .main-media-index{
        #redes{
            .contenedor-index{
                
                margin-left: -12px;
                .texto{
                    margin-left: 100px;
                }
            }
        }
    }
}

@media screen and (min-width:1000px) and (max-width:1330px) {

    .redes-cont{
    width: 100%;
   }

   .header-noti{
    h2{
        margin-left: 250px;
    }
  }
}

@media (min-width:900px){
    .main-media-index{
        #redes{
            .contenedor-index{
                
                margin-left: -12px;
                .texto{
                    margin-left: 50px;
                }
            }
        }
    }
}

@media (min-width: 600px) and (max-width:767px){
    h7{
        font-size: 1rem;
        justify-content: center;
    }

    .contacto{
        height: 40vh;
    }

    .formulario-responsive{
        margin-top: 100px;
    }
}

@media screen and (min-width:310px) and (max-width:550px){
  .index{
    nav{

        .logo{
            font-size: 25px;
           }
       }
  } 

   .main-media-index{
    margin-left: -150px;
   }
    
    .fondo-noti{
        .clip{
            background: transparent;
            h2{
                font-size: 40px;
            }
        }
    }

   .formulario-responsive{
    margin-top: 100px;
   }
}

@media screen and (min-width:1040px) and (max-width:1350px){
    h2{
        padding-left: 80px ;
    }
}

@media screen and (max-width: 600px) {
    .contacto{
        
        height: 30vh;
        h7{
            font-size: 30px;
            justify-content: center;
            margin-top: 50px;
        }
    }
    
    .formulario-responsive{
        margin-top: 100px;

        input[type=text], select, textarea {
            width: 100%;
            margin-top: 0;
          }
          button[type=submit] {
            width: 100%;
            margin-top: 10px;
          }
    }
  }

  @media screen and (min-width:310px) and (max-width:1130px){
    .contenedor-info{
        
        .seccion-info{
            .row{
                    .column{
                        min-width: 310px;
                    }
            }
           }
    }
  }

  @media screen and (min-width:310px) and (max-width:350px){
    .contenedor-info{

        .seccion-info{
            .row{
                justify-content: center;
                align-items: center;
                justify-items: center;
                max-width: 310px;
                    .column{
                       max-width: 310px;
                        margin-left: -70px;
                        padding-left: 0px;

                        img{
                            margin-left: 23px;
                        }
                        
                        .cartel{
                            margin-right:auto;
                        }
                    }
            }
           }
    }

  }
  