/*MEDIA*/

@media screen and (min-width:310px) and (max-width:900px) {
   nav{
        ul {
            display: none ;
        }
            .menu{
                display: block;
                font-size: 3rem;
                color: #ffffff;
                cursor: pointer;
                float: right;
                padding: 12px 10px 0 5px; 
            }
        #check-menu:checked ~ul {
            display: block;
            background: rgb(23, 116, 133);
            margin-top: 0px;
            margin-right: -10px;
            width: 150px;
            padding-bottom: 10px;
            
            li{
                display: block;
                align-items: flex-start;
                height: 60px;
                margin-left: -20px;
            }
            .btn-contacto{
                background-color: #ffa20000 ;
            }
            
        }
    }
    

   .main-media-index{
    #redes{
        h3{
            font-size: 1rem;
            width: 2px;
            

            #encontranos{
                font-size: x-large;
                margin-left: 12px;
               }
               
        }
        .contenedor-index{
            margin-left: -20px;
            .foto{
                display: none;
               }
               
        }
    } 
   }

      /*GALERIA @MEDIA*/

      .galeria{
        display: none;
      }

      .contenedor-galeria {
        .gallery{
            display: grid;
            column-gap: .5rem;
            row-gap: .5rem;
            gap: 20px;
            grid-auto-flow: dense;
            margin-top: -70px;
            grid-template-columns: repeat(1,1fr);
        }

      } 

      

      /*NOTICIAS*/

      .header-noti{
        h2{
            width: 100px;
            margin-left: 200px;
        }
      }

      .contenedor{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        
      }

    /*CONTACTO @MEDIA*/
  .contacto{
            width: 100%;
            height: auto;
            font-size: small;
            clip-path: none;

            h7{
                margin-left: -1000px;
                }
        }

        .formulario{
            width: 100%;
            display: flex;
        margin-top: 80px;
        margin-left: 50px;

        .row{
            width: 350px;
            margin-left: 1px;
            }

        .form-floating{
            justify-items: center;
            justify-content: center;
            width: 330px;
            margin-left: 10px;
            }

            .btn{
                margin-left: 150px;
            }

            .redes-cont{
                display: none;
            }
        }
       } 


@media (min-width:768px) and (max-width:1000px) {
    /*NAV @MEDIA*/
    .nav{
        ul {
            display: none ;
         
        }

        label{
            .menu{
                display: block;
                font-size: 2rem;
                color: #ffffff;
                cursor: pointer;
                margin-left: 5px;
            }
        }

        input{
            #check-menu:checked ~ul {
                display: block;
            }
        }
    }

    #redes{
        h3{
            font-size: 1rem;
            width: 2px;

            #encontranos{
                font-size: x-large;
                margin-left: 12px;
               }
        }
    } 

    /*GALERIA QUERIES*/
    .contenedor-galeria {
        .gallery{
            display: grid;
            column-gap: .5rem;
            row-gap: .5rem;
            gap: 20px;
            grid-auto-flow: dense;
            margin-top: -70px;
            grid-template-columns: repeat(2,1fr);
        }

      } 

      .header-noti{
        h2{
            width: 570px;
            margin-left: 200px;
        }
      }

    /*CONTACTO @MEDIA*/
    

        .contacto{
            width: 100%;
            height: auto;
            font-size: small;

            h7{
                margin-left: 70px;
                }
        }

        .formulario{
            
            width: 500px;
            display: flex;
        margin-top: 80px;
        margin-left: 150px;
        
               form{
                
                .form-floating{
                    justify-items: center;
                    justify-content: center;
                    width: 400px;
                    margin-left: 60px;
                    }
                    .row{
                        width: 420px;
                        margin-left: 50px;
                        }
                        .btn{
                            margin-left: 220px;
                        } 

               }
        }
                .redes-cont{
                    display: none;
                }
        
        } 
       


@media (max-width:967px){
    .foto {
        display: none;
    }
    .main-media-index{
        #redes{
            .contenedor-index{
                width: 100%;
                margin-left: -12px;
                .texto{
                    margin-left: 150px;
                }
            }
        }
    }
    .formulario{
        padding-bottom: 60px;
    }
}

@media screen and (min-width:1000px) and (max-width:1330px) {
   .contacto{
    h7{
        margin-left: 350px;
    }
   }
    .formu{
    margin-left: -300px;
    
   }
    .redes-cont{
    width: 100%;

   }
   .header-noti{
    h2{
        margin-left: 250px;
    }
  }
 
}

@media (min-width:900px){
    .main-media-index{
        #redes{
            .contenedor-index{
                width: 100%;
                margin-left: -12px;
                .texto{
                    margin-left: 50px;
                }
            }
        }
    }
}

@media (min-width: 480px) and (max-width:767px){
    .formulario{
        margin-left: 130px;
        width: 400px;
        
        a{
            .btn{
                margin-left: 120px;
            }

        }
        .formu{
            width: 200px;
        }
        
    }
}

@media screen and (min-width:310px) and (max-width:500px){
   nav{
    .logo{
        font-size: 25px;
        margin-left: -50px;
       }

   }

   .main-media-index{
    margin-left: -150px;
   }
    .header-noti{
        h2{
            display: none;
        }
      }
     
      .formulario{
        margin-left: -5px;
        
        a{
            .btn{
                margin-left: 120px;
            }

        }
        .formu{
            width: 150px;
        }
        
    }
}
