@mixin sizes($ancho, $alto){
    width: $ancho;
    height: $alto;
}

@mixin imgposition (){
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
   
}

@mixin flex-center (){
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}